$desktop: 1400px;

@mixin desktop {
    @media (min-width: $desktop){
        @content;
    }
}


body{
    display: grid;
    justify-content: center;
    grid-auto-rows: 120px;
    grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
    grid-gap: 1rem;
    background-color: lightgray;


    @include desktop {
        grid-template-columns: repeat(18, 80px);
        grid-template-rows: repeat (10, 100px);
        grid-gap: 1rem;

        @for $i from 0 through 18 {
            .el[data-group="#{$i}"] {
                grid-column: $i;
            }
        }
        @for $i from 0 through 10 {
            .el[data-period="#{$i}"] {
              grid-row: $i;
            }
        }
    }

    

}


.el {
    background-color: lightgray;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;;
  
    &--otherNonMetal {
        background-color: #22ff22;
        color: black;
      
    }
  
    &--nobleGas {
        background-color: #77ccff;
        color: black;
      
    }
  
    &--alkaliMetal {
      
        background-color: #ffcc33;
        color: black;
      
    }
  
    &--alkalineEarthMetal {
     
        background-color: #ffff44;
        
        color: black;
      
    }
  
    &--metalloid {
      
        background-color: #77dd88;
        color: black;
      
    }
  
    &--postTransitionMetal {
      
        background-color: #99ddcc;
        color: black;
      
    }
  
    &--transitionMetal {
      
        background-color: #ddbbbb;
        color: black;
      
    }
  
    &--lanthanide {
      
        background-color: #ddbbbb;
        color: black;
      
    }
  
    &--actinide {
      
        background-color: #eebbdd;
        color: black;
      
    }
  }
  
  .el__number {
    font-size: 20px;
  }
  
  .el__symbol {
    font-size: 25px;
    font-weight: 600;
  }
  
  .el__name {
    font-size: 12px;
  }