@import "reset";
@import "../scss/element.scss";
* {
    box-sizing: border-box;
  }
  
img {
    max-width: 100%;
}
$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal alkalineEarthMetal actinide metalloid otherNonMetal;

$hue: 0deg;
$saturation : 80%;
$lightness : 50%;

@each $type in $types {
    .el--#{w$types} {
        background-color: hsl($hue, $saturation, $lightness);
    }
    
}

$desktop: 1400px;

@mixin desktop {
    @media (min-width: $desktop){
        @content;
    }
}

