@import "reset";
* {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }
  $types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal alkalineEarthMetal actinide metalloid otherNonMetal;
