* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  grid-auto-rows: 125px;
  grid-gap: 5px;
  
  @media (min-width: 1400px) {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}
