* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

@mixin xl {
  @media(min-width: 1400px){
    grid-template-columns: repeat(auto-fill, minmax(86px, 1fr));
    grid-auto-rows: 142px;
    grid-gap: 1px;
}
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  grid-auto-rows: 125px;
  grid-gap: 5px;

  @include xl
}

$font: Arial, Helvetica, sans-serif;



/* 
  @media(min-width: 1400px){
    grid-template-columns: repeat(auto-fill, minmax(86px, 1fr));
    grid-auto-rows: 142px;
    grid-gap: 1px;
  } */