.el--gas {
  abbr, .el__nameState--gas {
  color: rgb(255, 0, 0);
  }
}

.el--liquid {
  abbr, .el__nameState--liquid {
  color: blue;
  }
}

.el--unknown {
  abbr, .el__nameState--unknown {
  color: darkslategrey;
  }
}
