@import 'reset';

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal alkalineEarthMetal actinide metalloid otherNonMetal;
* {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }

  .el{
      color: lightgrey;
  }

  @each $type in $types {
    .el--#{$type} {
      background-color: hsl(index($types, $type) * 36, 40, 50);
    }
  }
body{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(18, minmax(100px, auto));
    grid-gap: 0.5em;
}