@mixin desktop {
  @media (min-width: 1400px) {
    @content;
  }
}

$nbElements: 9;
$offset: 360 / $nbElements + 1;
$types: "alkaliMetal", "lanthanide", "nobleGas", "transitionMetal",
  "postTransitionMetal", "alkalineEarthMetal", "actinide", "metalloid",
  "otherNonMetal";
$deg: 0;
$margin: 20px;

body {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.el {
  background-color: lightgray;
  font-family: Helvetica;
  font-size: 40px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &__number {
    font-size: 16px;
    margin-bottom: $margin;
    margin-top: $margin;
  }
  &__symbol {
    font-weight: 700;
    margin-bottom: $margin;
  }
  &__name {
    font-size: 16px;
    margin-bottom: $margin;
  }
}

@each $type in $types {
  .el--#{$type} {
    background-color: hsl($deg, 45, 60);
  }
  $deg: $deg + $offset;
}

@include desktop {
  body {
    grid-template-columns: repeat(18, minmax(150px, 1fr));
    grid-template-rows: repeat(7, 1fr);
  }

  @for $i from 1 through 7 {
    .el[data-period="#{$i}"] {
      grid-row: $i;
    }
  }
  @for $i from 1 through 18 {
    .el[data-group="#{$i}"] {
      grid-column: $i;
    }
  }
}
