@import "./reset.scss";

@mixin large {
  @media (min-width: 1400px) {
    
    @for $i from 1 through 7 {
      .el[data-period="#{$i}"] {
        grid-row: $i;
      }
    }

    @for $i from 1 through 18 {
      .el[data-group="#{$i}"] {
        grid-column: $i;
      }
    }
    @content;
  }
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal;

$length: length($types);
$step: 360deg / $length;

@each $type in $types {
  .el--#{$type} {
    $index: index($types, $type);
    background-color: hsl($step * $index, 45%, 55%);
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 4px;
  margin: 4px;

  @include large {
    grid-template-columns: repeat(18, 1fr);
    grid-auto-rows: 100px;
  }
}

.el {
  color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;

  &__number {
    font-size: 14px;
  }

  &__symbol {
    font-size: 24px;
  }

  &__name {
    font-size: 10px;
  }
}
