@import "reset.scss";
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal;

.el {
  color: lightgrey;
}

@each $type in $types {
  .el--#{$type} {
    background-color: hsl((36 * index($types, $type)), 30, 50);
  }
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}
