@import "reset.scss";

@mixin fullscreen {
  @media (min-width: 1400px) {
    @content;
  }
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal;

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.el {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__number {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  &__symbol {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__name {
    font-size: 10px;
    margin-bottom: 20px;
  }
}

@each $type in $types {
  .el--#{$type} {
    background-color: hsl((36 * index($types, $type)), 35, 50);
  }
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  @include fullscreen {
    grid-template-columns: repeat(18, auto);
    grid-template-rows: repeat(7, 1fr);
    @for $n from 1 through 7 {
      .el[data-period="#{$n}"] {
        grid-row: $n;
      }
    }
    @for $n from 1 through 18 {
      .el[data-group="#{$n}"] {
        grid-column: $n;
      }
    }
  }
}
