body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;
  grid-auto-rows: 100px;

  @include large {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(7, 100px);
  }
}

@for $i from 1 through 7 {
  [data-period="#{$i}"] {
    grid-row: $i;
  }
}

@for $i from 1 through 18 {
  [data-group="#{$i}"] {
    grid-column: $i;
  }
}
