.el--otherNonMetal {
    background-color: red;
}

.el--nobleGas {
    background-color: red;
}

.el--alkaliMetal{
    background-color: red;
}

.el--alkalineEarthMetal{
    background-color: red;
}


.el--metalloid {
    background-color: red;
}


.el--otherNonMetal{
    background-color: red;
}


.el--actinide {
    background-color: red;
}


.el--postTransitionMetal {
    background-color: red;
}


.el--transitionMetal {
    background-color: red;
}


.el--lanthanide {
    background-color: red;
}


  
