@import "./reset.css";
@import "./mixin.scss";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
$nbElements: 9;
$offset: 360 / $nbElements + 1;

$types: "alkaliMetal", "lanthanide", "nobleGas", "transitionMetal",
  "postTransitionMetal", "alkalineEarthMetal", "actinide", "metalloid",
  "otherNonMetal";

$deg: 0;

@each $type in $types {
  .el--#{$type} {
    background-color: hsl($deg, 45, 60);
  }
  $deg: $deg + $offset;
}
body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 0.5rem;
  margin: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  .el {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    &__number {
      padding: 10px 0px 0px 0px;
    }
    &__symbol {
      padding: 15px 0px 0px 0px;
      font-size: 30px;
      font-weight: 500;
    }
    &__name {
      padding: 20px 0px 10px 0px;
      font-weight: lighter;
    }
  }
}

@include desktop {
  body {
    grid-template-columns: repeat(18, minmax(150px, 1fr));
    grid-template-rows: repeat(7, 1fr);
  }
  .el {
    &__name {
      font-size: 10px;
    }
  }
  @for $i from 1 through 7 {
    .el[data-period="#{$i}"] {
      grid-row: $i;
    }
  }
  @for $i from 1 through 18 {
    .el[data-group="#{$i}"] {
      grid-column: $i;
    }
  }
}
