@import "blocs/reset";

$types: alkaliMetal, lanthanide, nobleGas, transitionMetal, postTransitionMetal, alkalineEarthMetal, actinide, metalloid, otherNonMetal;
$length: length($types);
$step: 360deg / $length; 

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(157px, 1fr));
  grid-gap: 2px;
  grid-auto-rows: 190px;
  margin: 6px 6px 0 6px;
}

  @mixin xl {
    @media(min-width: 1400px){
      grid-template-columns: repeat(auto-fill, minmax(86px, 1fr));
      grid-auto-rows: 142px;
      grid-gap: 1px;
  }
}

  .el {
    display: flex;
    background-color: lightgrey;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  .el__symbol {
    font-weight: bold;
    font-size: 20px;
  }

  .el__name{
    font-size: 15px;
    margin-bottom: 5px;
  }

  .el__number{
    font-size: 15px;
    margin-top: 5px;
  }

  @each $type in $types {
    .el--#{$type} {
      $index: index($types, $type);
      background-color: hsl($step * $index, 80%, 80%);
    }
  }

  @for $i from 1 through 7 {
    [data-period='#{$i}'] {
      grid-row: $i;
    }
  }
  
  @for $i from 1 through 18 {
    [data-group='#{$i}'] {
      grid-column: $i;
    }
  }