* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

$couleurs: (
  "otherNonMetal" #ac92ff,
  "nobleGas" #91dfff,
  "alkaliMetal" #ffc591,
  "alkalineEarthMetal" #ffdf91,
  "transitionMetal" #ecff91,
  "postTransitionMetal" #fff991,
  "metalloid" #92ff9f,
  "lanthanides" #d2ff91,
  "actinide" #c0ff98,
);

@each $couleur, $color in $couleurs {
  .el--#{$couleur}{
    background-color: $color;
  }
}
