* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

$types: alkaliMetal nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal lanthanides;

$steps: 360 / length($types);

@mixin classicTable {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin wildTable {
  @media (min-width: 1700px) {
    @content;
  }
}
