* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 10px;
  font-family: Arial;
  color: white;

  @include tableLarge {
    grid-template-columns: repeat(18, 1fr);
    grid-auto-rows: 65px;
  }
}

// clean table by period and group
@include tableLarge {
  @for $group from 1 through 18 {
    .el[data-group="#{$group}"] {
      grid-column: $group;
    }
  }

  @for $period from 1 through 7 {
    .el[data-period="#{$period}"] {
      grid-row: $period;
    }
  }

  @for $i from 57 through 71 {
    .el:nth-child(#{$i}) {
      grid-row: 9;
      grid-column: $i - 57 + 4;
    }
  }

  @for $i from 89 through 103 {
    .el:nth-child(#{$i}) {
      grid-row: 10;
      grid-column: $i - 89 + 4;
    }
  }
}

.el {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &:hover {
    background-color: white;
    cursor: pointer;
    color: lightgrey;
  }

  @include tableLarge {
    border-radius: 10px;
    &__name,
    &__number {
      font-size: 10px;
    }
  }
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal;

@each $type in $types {
  $deg: index($types, $type) * (360 / (length($types)) - 1);
  .el--#{$type} {
    background-color: hsl($deg, 50, 50);
    &:hover {
      color: hsl($deg, 50, 50);
    }
  }
}
