body {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 5px;
    max-width: 1885px;
    margin: auto;
}

@media(min-width: 1400px) {
    @for $i from 1 through 18 {
        .el[data-group="#{$i}"] {
            grid-column: $i;
        }
        .el[data-period="#{$i}"] {
            grid-row: $i;
        } 
      }
}