$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal alkalineEarthMetal actinide metalloid otherNonMetal;
$lenght: length($types);
$step: 360deg / $lenght;
    @each $type in $types {
        .el.el--#{$type} {
            $index: index($types, $type);
            background: hsl($step * $index, 60%, 60%);
        }
    }

    