body {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;

    @media (min-width: 1400px) {
        grid-template-columns: repeat(18, 1fr);
        grid-template-rows: repeat(7, 1fr);
      }
}
article {
    padding: 1.5rem;
}