@import "reset.scss";
@import "list.scss"; // Categories colors
@import "mixins.scss"; // mixins desktop and data

* {
  box-sizing: border-box;
}
  
body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 5px;
  @include desktopParameters;
  @include data;
}

img {
  max-width: 100%;
}

.el {
  background: lightgrey;
  padding: 1.5rem;
} 