@import "reset.scss";
@import "list.scss";
@import "mobileGrid.scss";
* {
    box-sizing: border-box;
  }
  
body {
  display: grid;
}

  img {
    max-width: 100%;
  }
  
  .el {
      background: lightgrey;
  }
  