@import '../scss/config/mixin.scss';
@import '../scss/vendors/reset.css';
@import '../scss/blocs/elements.scss';

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal alkalineEarthMetal actinide metalloid otherNonMetal actinide lanthanides;

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 0.2em;
}

.el {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__symbol {
    font-size: 1.5em;
    font-weight: bold;
  }
}


@for $i from 1 through length($types) {
  .el--#{nth($types, $i)} {
    background-color: hsl($i * (360 / length($types) - 1), 50, 50);
  }
}


@include desktop {

  body {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows : repeat(7, 100px) 20px repeat(2, 100px);
  }



  @for $i from 1 through 18 {
      .el[data-group='#{$i}'] {
        grid-column: $i;
      }
    }
    @for $i from 1 through 10 {
      .el[data-period='#{$i}'] {
        grid-row: $i;
      }
    }



  .el__state {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;

    .el__symbol {
      border: 2px solid black;
      padding: 0.1em;
      margin-right: 0.5em;
    }
}

  .state__desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    font-weight: bold;

  }

}
