@import '../scss/reset.scss';

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal alkalineEarthMetal actinide metalloid otherNonMetal;
$step: 360deg / length($types);

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 0.2em;
}

.el {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__symbol {
    font-size: 1.5em;
    font-weight: bold;
  }
}

@each $type in $types {
  .el--#{$type} {
    $index: index($types, $type);
    background-color: hsl($step * $index, 80%, 80%);
  }
}

@media (min-width: 1400px) { 
  body {
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows : repeat(7, 100px);
  }

  @for $i from 1 through 18 {
      .el[data-group='#{$i}'] {
        grid-column: $i;
      }
    }
    @for $i from 1 through 10 {
      .el[data-period='#{$i}'] {
        grid-row: $i;
      }
    }

}
