@import '../scss/config/mixin.scss';
@import '../scss/vendors/reset.css';
@import '../scss/blocs/elements.scss';

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal alkalineEarthMetal actinide metalloid otherNonMetal actinide lanthanides;

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(7, 100px) 20px repeat(2, 100px);
  grid-gap: 0.2em;
}

.el {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .el__symbol {
    font-size: 1.5em;
    font-weight: bold;
  }
}

@for $i from 1 through length($types) {
  .el--#{nth($types, $i)} {
    background-color: hsl($i * (360 / length($types) - 1), 50, 50);
  }
}


@include desktop {


  @for $i from 1 through 18 {
      .el[data-group='#{$i}'] {
        grid-column: $i;
      }
    }
    @for $i from 1 through 10 {
      .el[data-period='#{$i}'] {
        grid-row: $i;
      }
    }

}
